<div id="{{.UUID}}_div_code" style="background: white;">
    <br>
    <fieldset style="border-radius: 5px">
        <textarea  oninput="autosize(this)" onfocus="autosize(this)" id="{{.UUID}}_code" style="width: 100%; height: 50px; padding: 5px; background: darkseagreen;" >{{.Code}}</textarea>
        {{if ne .Result "" }} 
        <fieldset style="background: aliceblue;">
            <legend>Result</legend>
            {{.Result}}
        </fieldset>
        {{end}}
        {{if ne .Out "" }} 
        <fieldset style="background: aliceblue;">
            <legend>Output</legend>
            {{.Out}} 
        </fieldset>
        {{end}}
        {{if ne .Err "" }} 
        <fieldset>
            <legend>Stderr</legend>
            {{.Err}} 
        </fieldset>
        {{end}}
        <hr/>
        <button id="{{.UUID}}_play" onclick="send_event('{{.Id}}', 'Click')" >{{.CaptionPlay}}</button>
        <button id="{{.UUID}}_remove" onclick="send_event('{{.Id}}', 'Remove', '{{.UUID}}')" >Remove</button>
    </fieldset>
</div>