body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

#main_div {
    padding: 16px;
    margin-top: 30px;
}

/* Display some links to the right */
#navbar-right {
    float: right;
    padding-right: 5px;
    color: #f2f2f2;
}

p.snippet {
    display: inline-table;
}

textarea.result {
    width: 100%;
    padding: 5px;
    background: #404040;
    color: whitesmoke;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: horizontal;
    height: 42px;
}


.spinner-overlay {
    z-index: 999;
    position:absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    background:rgba(0, 0, 0, 0.2);
    display: none;
}


.spinner {
    border: 4px solid rgba(0, 0, 0, 0.6);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s linear infinite;
    margin: 250px auto
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}